    /* *{color:green;
    font-family:Monospace;
    border:1px solid;
      
  }       */
  
  window{
    background-color: black;
  }
        
    #header{
      margin-left: 365px;
      margin-top: 65px;
      font-size: larger;
      font-family: "Rockwell";
      color:white

    }
    #mainMenu{
 
      outline-style: solid;
      margin-top:250px;
      margin-left:300px;
    }

   

    #player_vs_player{

      font-family: "Rockwell";
      color: white;
      background: red;
      
    }

    #player_vs_player:hover{
      background:white;
          color: rgb(0, 0, 0);


    }
    #player_vs_computer_easy{
  
      /*padding-top: 100px;*/
      font-family: "Rockwell";
      color: white;
      background: red;

    }
    #player_vs_computer_easy:hover{
      background:white;
          color: rgb(0, 0, 0);
    }
    
    #player_vs_computer_medium{
 
      /*padding-top: 100px;*/
      font-family: "Rockwell";
      color: white;
      background: red
    }
    #player_vs_computer_medium:hover{
      background:white;
          color: rgb(0, 0, 0);
    }
    
    #player_vs_computer_hard{
 
      /*padding-top: 100px;*/
      font-family: "Rockwell";
      color: white;
      background: red
    }
    #player_vs_computer_hard:hover{
      background:white;
          color: rgb(0, 0, 0);
    }
    
 
    #quit{
      font-family: "Rockwell";
      /*padding-top: 100px;*/
      color: white;
      background: red
    }
    #quit:hover{
      background:white;
          color: rgb(0, 0, 0);
    }
   
    grid{
  
      color: #fff;
      border-radius: 10px;
      margin-top: 120px;
      margin-bottom: 200px;
     
      padding:50px;
    
    }
    #tttpage{
    
      margin-top: 150px;

      margin-left: 280px ;
    }
    #ttt1{
    
      padding:25px;
      font-weight: bold;
     
    }

    #ttt2{
  
  
      padding:25px;
      font-weight: bold;
    


    }

    #ttt3{
      
   
      padding:25px;
      font-weight: bold;

 


    }

    #ttt4{
    
    
      padding:25px;
      font-weight: bold;
      
    


    }

    #ttt5{
    
     
      padding:25px;
      font-weight: bold;
      


    }

    #ttt6{
      

      padding:25px;
      font-weight: bold;

   


    }

    #ttt7{
     
      padding:25px;
      
      font-weight: bold;
     
  

    }
    #ttt8{
      
      padding:25px;
      
      font-weight: bold;

   


    }
    #ttt9{
  
      
      padding:25px;
      font-weight: bold;

   

    }
    #player1{
      margin-left: 210px;
      color:white;
      margin-top:300px;

    }
    #player2{
      margin-left:580px;
      color: white;
      margin-top:300px;
    }
   