    /* *{color:green;
    font-family:Monospace;
    border:1px solid;
      
  }       */
  
  window{
    background-color: rgb(167, 111, 111);
  }
        
    #header{
      margin-left: 320px;
      margin-top: 150px;
    }
    #mainMenu{
 
      outline-style: solid;
      margin-top: 200px;
      margin-left: 220px;
      
      padding-left: 30px;
      padding-right: 30px;
    }

     /*button {
       border-radius: 15px;
       font: Sans 23;
       color: #00008B;                                     
       background-color: green;
       background-image:none;
    }
     button:hover {
       background-color: red;
       color: white;
    }
     button:hover:active {
       background-color: orange;
       color: cyan;
    }
    */


    #player_vs_player{
      background-color: orange;
      
  
    }
    #player_vs_computer_easy{
      background-color: orange;
      /*padding-top: 100px;*/
     
    }
    
    #player_vs_computer_medium{
      background-color: orange;
      /*padding-top: 100px;*/
    
    }
    #player_vs_computer_hard{
      background-color: orange;
      /*padding-top: 100px;*/
    
    }
 
    #quit{
      background-color: orange;
      /*padding-top: 100px;*/
     
    }
   
    grid{
      

  
      background-color: #34495e;
      color: #fff;
      border: 6px solid #2c3e50;
      border-radius: 10px;
      
 
    }
    #tttpage{
      background-color:rgb(226, 86, 5);

    }
    #ttc1{
      border: 6px solid #2c3e50;
      background-color:#57799b;
      border-radius: 2px;
     
      font-weight: bold;
      font-size: 4em;
    
    }

    #ttc2{
      border: 6px solid #2c3e50;
      border-radius: 2px;
     
      font-weight: bold;
      font-size: 4em;


    }

    #ttc3{
      border: 6px solid #2c3e50;
      border-radius: 2px;
      
      font-weight: bold;
      font-size: 4em;
 


    }

    #ttc4{
      border: 6px solid #2c3e50;
      border-radius: 2px;
      
      font-weight: bold;
      font-size: 4em;
    


    }

    #ttc5{
      border: 6px solid #2c3e50;
      border-radius: 2px;
    
      font-weight: bold;
      font-size: 4em;
   


    }

    #ttc6{
      border: 6px solid #2c3e50;
      border-radius: 2px;
      
      font-weight: bold;
      font-size: 4em;
   


    }

    #ttc7{
      border: 6px solid #2c3e50;
      border-radius: 2px;
      
      font-weight: bold;
      font-size: 4em;
  

    }
    #ttc8{
      border: 6px solid #2c3e50;
      border-radius: 2px;
      
      font-weight: bold;
      font-size: 4em;
   


    }
    #ttc9{
      border: 6px solid #2c3e50;
      border-radius: 2px;
      
      font-weight: bold;
      font-size: 4em;
   

    }


